<a href="https://colab.research.google.com/github/joongwankim/oci_terraform/blob/Colab/Chapter3_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.막대그래프

In [6]:
#데이터 가져오기
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_wine
wine_load = load_wine()
wine = pd.DataFrame(wine_load.data, columns = wine_load.feature_names)
wine['Class'] = wine_load.target
wine['Class'] = wine['Class'].map({0:'Class_0',1:'Class_1',2:'Class_2'})

#도수분포표
wine_type = wine['Class'].value_counts()
wine_type

Class_1    71
Class_0    59
Class_2    48
Name: Class, dtype: int64